* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(154, 189, 232);
}

header {
    height: 10vh;
}

h1 {
    color: darkgreen;
    text-align: center;
    padding-top: 2rem;
}

#description {
    text-align: center;
}

main {
    height: 80vh;
    padding-top: 2rem;
}

#input-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 4rem;
}

label {
    font-size: larger;
}

input[type="number"] {
    border: 2px solid darkblue;
    border-radius: 5px;
    padding: 5px;
    margin: 5px 0;
    box-shadow: 0 0 30px 8px rgba(0, 0, 0, 0.06);
    font-size: larger;
}

input[type="number"]:hover {
    box-shadow: 0;
}

input[type="number"]::placeholder {
    /* Firefox, Chrome, Opera */
    text-align: right;
}

input[type="email"]:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    text-align: right;
}
input[type="email"]::-ms-input-placeholder {
    /* Microsoft Edge */
    text-align: right;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input {
    text-align: right;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

#submit-btn {
    background-color: #015485;
    color: aliceblue;
    font-size: larger;
    padding: 5px 10px;
    border: 0;
    border-radius: 5px;
}

#reset-btn {
    margin: 3px 0;
    background-color: #c55155;
    color: aliceblue;
    font-size: larger;
    padding: 5px 10px;
    border: 0;
    border-radius: 5px;
}

#output-container {
    text-align: center;
    font-size: larger;
}

#output {
    margin: 10px 0;
    font-size: larger;
    color: black;
}

footer {
    height: 10vh;
    text-align: center;
}

a {
    color: black;
}
